[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "ytdlp-gui"

[packages]
streamlit = "*"
yt-dlp = "*"
pyyaml = "*"
zhconv = "*"

[dev-packages]
ruff = "*"

[scripts]
start= "streamlit run run.py"
lint = "ruff check"
format = "ruff format"

[requires]
python_version = "3.12"
