[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "ytdlp-gui"

[packages]
streamlit = ">=1.40.2"
yt-dlp = ">=2024.12.6"
pyyaml = ">=6.0.2"
zhconv = ">=1.4.3"
toml = ">=0.10.2"

[dev-packages]
ruff = ">=0.8.2"

[scripts]
start = "streamlit run run.py"
lint = "ruff check"
format = "ruff format"

[requires]
python_version = "3.12"
